body {
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

/* Top portion of page for option buttons */
div.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

/* Bottom portion of page for displaying scores */
div.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.bottom .title {
    text-decoration: underline;
}

.bottom .score {
    text-align: center;
}

/* Rock, Paper, Scissors buttons */
button.options {
    background-color: gold;
    color: black;
    width: 100px;
    height: 30px;
}